@font-face {
  font-family: FreePixel;
  src: url(fonts/FreePixel.ttf);
}

@font-face {
  font-family: Retro-Computer;
  src: url(fonts/Petyka-Retro-Computer.ttf);
}

html {
  font-size:62.5%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: FreePixel;
  font-size: 1.9rem;
  margin: auto;

  color: #FFF;
  background: #000;
  height: 100%;
}

a {
  color: #FFF;
  text-decoration: underline;
}

a:hover {
  font-weight: 600;
}

h1,h2,h3,h4{ font-family: Retro-Computer; }

button {
  border: solid 2px #FFF;
  font-family: FreePixel;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #000;
  color: #FFF;
  padding: 1rem;
  margin: 2rem auto;
  display: block;
}

button:focus { outline: none; }

button:hover {
  color: #000;
  background-color: #FFF;
}

iframe {
  display: block;
  margin: auto;
}

#menu {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}
#menu .content {
  margin: auto;
  max-width: 900px;
}

#opz {
  display: block;
  margin: 4rem auto;
  max-width: 900px;
}

#midi-connect-error {
  text-align: center;
  color: #f5502f;
}

.hide {
  display: none;
}
.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  iframe {
    max-width: 400px;
    max-height: 215px;
  }
  #menu {
    width: calc(100% - 2rem);
    padding: 4rem 1rem;
  }

  #opz, img {
    max-width: calc(100% - 2rem);
  }

  .desktop, hr {
    display: none;
  }

  .mobile {
    display: block;
  }
}

